@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

a {
    text-decoration: none !important;
}

html{
    background-color: #F5F5F5;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.card{
    border-radius: 8px;
}

#div_principal{
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
}


.page_card-group{
    margin-top: 9.59rem;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
}

.page_card-group>.card-group{
    width: 100%;
}

.nav_bar{
    margin-top: 0.5rem;
    width: auto;
}

.nav_bar .card .card-body{
    padding-bottom:0.625rem;
    padding-top:0.625rem;
}

.nav{
    font-size: 1.125rem;
    border-collapse: separate;
    justify-content: center;
    text-align: center;
}

.nav-item{
    margin-right: 0.9375rem;
    margin-left: 0.9375rem;
    border: 0.5rem;
}

.nav-link{
    font-family:"Roboto", sans-serif;
    font-style: normal;
    color: #686868;
}

.nav-item:hover{
    color: var(--Surfaces-Buttons-Hover-standard-action, #00A1C9);
    font-feature-settings: 'clig' off, 'liga' off;
    border-radius: var(--Numbers-Eight-multiples-200, 200px);
    background: var(--Surfaces-Buttons-Icon-icon-selected, #DFF3F8);
}

.card-group>.card{
    flex: auto;
}

.card-body{
    width: 100%;
}

.card-body .card{
    display: flex;
    padding: 24px;
    gap: 24px;
    flex-wrap: wrap;
    margin: 24px;
}

.card-group>.card:first-child{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-right: 0.2rem;
}

.card-group>.card:not(:first-child){
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-left: 0.2rem;
}

header{
    margin-top: 0.9375rem;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    flex-flow: row;
    width: auto;
}

.header__div{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 0.9375rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    flex-flow: row;
    z-index: 10;
    width: auto;
    background-color: #F5F5F5;
}

.header-logo{
    display: flex;
    width: 342px;
    height: var(--Numbers-Eight-multiples-72, 72px);
    padding: 0px var(--Numbers-Eight-multiples-16, 16px);
    margin-left: 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 127px;

    border-radius: var(--Numbers-Eight-multiples-8, 8px);
    background: linear-gradient(90deg, #00A1C9 0%, rgba(0, 161, 201, 0.50) 100%);
}

.header-logo__img{
    display: flex;
    width: 100%;
}

.header-info{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    width: 70%;

    display: flex;
    height: var(--Numbers-Eight-multiples-72, 72px);
    padding: var(--Numbers-Eight-multiples-8, 8px) var(--Numbers-Eight-multiples-32, 32px);
    justify-content: center;
    align-items: left;
    gap: var(--Numbers-Eight-multiples-16, 16px);
    flex: 1 0 0;

    border-radius: var(--Numbers-Eight-multiples-8, 8px);
    background: var(--Surfaces-Backgrounds-background-default, #FFF);
}

.header-logo{
    margin-left: 7px;
    border-top-left-radius: 8px;
}

.header-info__title{
    font-size: 14px;
    font-weight: 700;
    color: #686868;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.3px;
}

.header-info__mudulo{
    color: #9C9B9B;
    margin: 0;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px; /* 183.333% */
    letter-spacing: 1.5px;
}

/* TABLAS */

table{
    border-collapse: unset;
    border-radius: 8px;
}

#computrabajo_table table{
    border: 0;
    border-radius: 0;
}

#computrabajo_table{
    font-family: "Roboto", sans-serif;
    font-size: 0.9375rem;
    text-align: center;
    width: 100%;
}

#computrabajo_table .ag-icon {
    color: white;
}

#computrabajo_table .ag-header-group-cell-label,#computrabajo_table .ag-header-cell-label{
    justify-content : center;
}

#computrabajo_table .ag-header-cell{
    color: white;
    background-color: #673ab7;
    text-align: center;
}

#computrabajo_table .ag-cell{
    background-color: white;
    text-align: center;
}

.title-table_analitica{
    color: var(--Text-text-primary, #686868);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17.441px; /* 124.579% */
    letter-spacing: 1.453px;

    padding: var(--Numbers-Eight-multiples-16, 16px) 0px var(--Numbers-Eight-multiples-16, 16px) 0px;

    
}

#computrabajo_table_capturas table{
    border: 0;
    border-radius: 0;
}

#computrabajo_table_capturas{
    font-family: "Roboto", sans-serif;
    font-size: 0.9375rem;
    text-align: center;
    width: 100%;
}

#computrabajo_table_capturas .ag-header-group-cell-label,#computrabajo_table_capturas .ag-header-cell-label{
    justify-content : center;
}

#computrabajo_table_capturas .ag-header-cell{
    color: white;
    background-color: #00A1C9;
    text-align: center;
}

#computrabajo_table_capturas .ag-cell{
    background-color: white;
    text-align: center;
}


/**/

.title-bar_chart{
    color: var(--Text-text-primary, #686868);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17.441px; /* 124.579% */
    letter-spacing: 1.453px;

    display: flex;
    height: 66px;
    padding: var(--Numbers-Eight-multiples-16, 16px) 0px var(--Numbers-Eight-multiples-32, 32px) 0px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;

}

.buscador-container{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.buscador-table{
    border:2px solid;
    width: 99.2%;
    margin:10px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.buscador-table__sub-table{
    border-collapse: separate;
    border-radius: 8px;
}


.buscador-table__container-btn{
    display: flex;
    align-items: center;
    align-content: flex-end;
    /*width: 21.75rem;
    display: flex;*/
}

.buscador-table__title-text{
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    color: #686868;
    text-align: left;
}

.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner.dash-fill-width .cell table{
    
    border-collapse: unset;
}

.dash-table-container {
    margin-left: 3px;
}


.cell-table {
    border: 2px rgb(211, 211, 211) solid;
    border-radius: 8px;
    margin: 0;
}

.buscador-table__container{
    display: flex;
    justify-content: space-between;
}
.buscador-table__btn{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.buscador-table__btn:hover{
    background-color: #00A1C9;
    
}
.buscador-table__btn-img:hover{
    filter: invert(1);
}
.buscador-table__btn-img{
    width: 2rem;
    height: 2rem;
}

.container__hide{
    display: none;
    width: 0px;
    height: 0px;
}

.contracts {
        border: 2px #e5e5e5 solid;
        padding-top: 6px;
        border-radius: 4px;
        display: block;
        margin-bottom: 20px;
}

tr > th{ 
    border-collapse: collapse;
    font-weight: 400;
    border: 1px;
    
}

tr > td{
   border: 1px;
}

.column-header-name{
    /* esta es una clase generada por una funcion de dash*/
    font-weight: 700;
}

.dash-cell-value.unfocused{
    /* esta es una clase generada por una funcion de dash*/
    font-weight: 400;
}

.btn:hover {
    border-color: #fff; 
    color: #fff;
    background-color: #00A1C9;
}


.container__alerta{
    position: fixed;
    bottom: 30px;
    right: 40px;
    width: 400px;
    height: 50px;
    z-index: 20;
}

.buscador-table__spinner{
    color: #00A1C9;
    width: 5rem;
    /*height: 5rem;*/
}

.analitica-filter{
    display: flex;
    width: 96.5%;
    padding: var(--Numbers-Eight-multiples-12, 20px);
    justify-content: space-between;
    align-items: center;
    margin: 24px;

    flex-shrink: 0;

    border-radius: var(--Numbers-Eight-multiples-8, 8px);
    background: var(--Surfaces-Backgrounds-background-primary, #F5F5F5);
}

.analitica-filter__title-container{
    width: 30%;
    text-align: start;
    display: flex;
    align-items: center;
    gap: var(--Numbers-Eight-multiples-8, 8px);
    padding: var(--Numbers-Eight-multiples-12, 12px) var(--Numbers-Eight-multiples-16, 16px);
    flex-direction: row;
    justify-content: flex-start;
    align-self: stretch;

    border-radius: var(--Numbers-Eight-multiples-8, 8px);
    background: var(--Surfaces-Backgrounds-background-default, #FFF);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.10);
}

.filter__title {
    white-space: pre-wrap;
}

.filter__title{
    margin-top: 12px;
    margin-bottom: 12px;
    color: var(--Text-text-primary, #686868);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Roboto", sans-serif;;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 100% */
    letter-spacing: 1.5px;
}

.filter__DropdownMenuItem label{
    display: flex;
    height: 2.2rem;
    align-content: center;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
}

.analitica-filter__container h5{
    color: var(--Text-text-primary, #686868);
    font-feature-settings: 'liga' off, 'clig' off;
    margin: 0;

    /* Desktop/Title/M */
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.3px;
}
.filter__DropdownMenuItem input{
    cursor: pointer;
}

.filter__DropdownMenuItem:hover {
    border-radius: 8px;
    background-color: var(--Surfaces-Backgrounds-background-primary, #F5F5F5);
}

.title-descarga__container{
    display: flex;
    padding: var(--Numbers-Eight-multiples-16, 16px) 0px var(--Numbers-Eight-multiples-32, 16px) 0px;
    justify-content: space-between;
    align-items: flex-start;
}

.download-button__container {
    position: absolute;
    right: 0;
}

.buttom__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
}

.check_buttom__container {
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: scroll;
    justify-content: left;
    
}

.download-button {
    font-family:"Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    color: var(--Text-text-primary, #686868);
    display: flex;
    width: 172px;
    height: 40px;
    padding: var(--Numbers-Eight-multiples-8, 8px) var(--Numbers-Eight-multiples-12, 12px);
    align-items: center;
    flex-shrink: 0;
    border-radius: var(--Numbers-Eight-multiples-200, 200px);
    border: 1px solid var(--borders-checkbox-radiobutton-cb-rb-primary, #9C9B9B);
    background: var(--Surfaces-Backgrounds-background-default, #FFF);
    text-align: center;
    justify-content: center;

    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 8px;
    margin-right: 8px;
    
}

.download-button:hover {
    border-color: #fff; 
    color: #fff; 
    background-color: #009c15;
    
}

.download-button__img {
    height: 2rem;
    width: 2rem;
}

.circle-button {
    color: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.3px;

    display: flex;
    width: 24px;
    height: 24px;
    padding: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: var(--Numbers-Eight-multiples-200, 200px);
    margin-left: 6px;
}

.check-button label {
    font-family:"Roboto", sans-serif;
    font-style: normal;
    color: var(--Text-text-primary, #686868);
    display: flex;
    width: 172px;
    height: 40px;
    padding: var(--Numbers-Eight-multiples-8, 8px) var(--Numbers-Eight-multiples-12, 12px);
    align-items: center;
    flex-shrink: 0;
    border-radius: var(--Numbers-Eight-multiples-200, 200px);
    border: 1px solid var(--borders-checkbox-radiobutton-cb-rb-primary, #9C9B9B);
    background: var(--Surfaces-Backgrounds-background-default, #FFF);
    justify-content: center;
    cursor: pointer;

    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 8px;
    margin-right: 8px;

}

.check-button label input{
    cursor: pointer;
}

.check-button label:hover {
    border-color: #fff; 
    color: #fff; 
    background-color: #00A1C9;
}

.check-button__tittle {
    margin-bottom: 0;
    margin-right: 2px;
    margin-left: 6px;
}


label input{
    margin-left: 2px;
}

.check-button h6 {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.3px;
}


.analitica-filter__span{

    padding: var(--Numbers-Eight-multiples-8, 8px) var(--Numbers-Eight-multiples-16, 16px) var(--Numbers-Eight-multiples-8, 8px) var(--Numbers-Eight-multiples-8, 8px);
    align-items: center;
    gap: var(--Numbers-Eight-multiples-8, 6px);

    align-self: stretch;

    overflow: hidden;
    font-feature-settings: 'liga' off, 'clig' off;
    text-overflow: ellipsis;
    
    /* Desktop/Title/M */
    font-family: "Poppins", sans-serif;;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.3px;  


}

.dropdown-toggle:hover .analitica-filter__span {
    transition: 0.3ms;
    filter: brightness(0) invert(1); /* Cambia el color del ícono a blanco */
}


.dropdown-toggle {
    border-radius: var(--Numbers-Eight-multiples-200, 200px);
    border: 1px solid var(--borders-checkbox-radiobutton-cb-rb-primary, #9C9B9B);
    background: var(--Surfaces-Backgrounds-background-default, #FFF);
}

.btn-primary {
    --bs-btn-color: var(--Text-text-primary, #686868);
    --bs-btn-hover-bg : var(--Surfaces-Buttons-Hover-standard-action, #00A1C9)
}

.btn-primary:hover {
    border-color: #fff; 
    color: #fff;
}

.buscadores-filter__container {
    display: flex;
    align-items: center;
    gap: var(--Numbers-Eight-multiples-8, 8px);
    padding: var(--Numbers-Eight-multiples-12, 12px) var(--Numbers-Eight-multiples-16, 16px);
    flex-direction: row;
    align-self: stretch;
    justify-content: flex-end;
    align-items: center;

    border-radius: var(--Numbers-Eight-multiples-8, 8px);
    background: var(--Surfaces-Backgrounds-background-default, #FFF);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.10);
}

.buscadores-filter__container h5{
    color: var(--Text-text-primary, #686868);
    font-feature-settings: 'liga' off, 'clig' off;
    margin: 0;

    /* Desktop/Title/M */
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.3px;
}


.analitica-filter__container {
    display: flex;
    align-items: center;
    gap: var(--Numbers-Eight-multiples-8, 8px);
    padding: var(--Numbers-Eight-multiples-12, 12px) var(--Numbers-Eight-multiples-16, 16px);
    flex-direction: row;
    align-self: stretch;
    justify-content: flex-end;
    align-items: center;

    border-radius: var(--Numbers-Eight-multiples-8, 8px);
    background: var(--Surfaces-Backgrounds-background-default, #FFF);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.10);
}

.buscador-filter__container {
    height: 3.625rem;
    display: flex;
}

.analitica-filter__item-container {
    padding: 0.33rem;
}

.analitica-filter__img {
    vertical-align: text-top;
    padding: 0.33rem;
    height: 1.784rem;
    width: 1.721rem;
}

.analitica-filter__dropdown{
    height: 100%;
}

.analitica-filter__dropdown hr{
    margin: 0;
}

.buscador-filter__dropdown{
    height: 100%;
}

.analitica-filter__dropdown-menu{
    position: absolute;
    z-index: 9;
    align-items: center;
    display: flex;
    padding-top: 5px;
}

.analitica-filter__dropdown-menu .card {
    margin: 0;
    padding: 8px;
    align-items: center;

    border-radius: var(--Numbers-Eight-multiples-8, 8px);
    background: var(--Surfaces-Backgrounds-background-default, #FFF);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.10);
}

.analitica-filter__container-apply-btn{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.analitica-filter__container-apply-btn .btn-primary:hover{
    background-color: var(--Surfaces-Backgrounds-background-primary, #f5f5f5bd);
}

.analitica-filter__container-apply-btn .btn-primary{
    width: 30px;
    height: 30px;
    border-radius: 50%;

    --bs-btn-padding-x: 0;
    --bs-btn-padding-y: 0;

    --bs-btn-color: none;
    --bs-btn-bg: none;
    --bs-btn-border-color: none;
}

.analitica-filter__datepicker {
    border: none;
}

.analitica-filter__datepicker-container{
    display: flex; 
    height: 2.648rem;
    border-radius: var(--Numbers-Eight-multiples-200, 200px); /* Aplica border-radius directamente al DatePicker */
    border: 1px solid #ccc;
    width: 100%;  /* Ajustar el ancho del DatePicker */
    box-sizing: border-box;
    align-items: center;
    
    border: 1px solid var(--borders-checkbox-radiobutton-cb-rb-primary, #9C9B9B);
}

.mantine-1e6hn20 {
    border: none;
    background: transparent;

    color: var(--Text-text-primary, #686868);
    text-overflow: ellipsis;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.3px;
    padding-left: 0;
}

.analitica-filter__datepicker-container:hover .mantine-1e6hn20{
    color: #fff;
}

.analitica-filter__datepicker-container:hover {
    border-color: #fff; 
    color: #fff;
    background-color: #00A1C9;
}

.analitica-filter__datepicker-container:hover .analitica-filter__img{
    transition: 0.3ms;
    filter: brightness(0) invert(1);
}
 
.btn-success:hover {
    color: var(--bs-btn-hover-color) !important;
    text-decoration: none !important;
    background-color: var(--bs-btn-hover-bg) !important;
    border-color: var(--bs-btn-hover-border-color) !important;
}

.btn-danger:hover {
    color: var(--bs-btn-hover-color) !important;
    text-decoration: none !important;
    background-color: var(--bs-btn-hover-bg) !important;
    border-color: var(--bs-btn-hover-border-color) !important;
}

/* .custom-alert {
    height: 200px;
    width: 200px;
    display: flex;
    position: fixed;
    z-index: 99999;
    top: 50%;
    left: 50%;
} */

.custom-alert {
    display: none; /* Inicialmente oculto */
    position: fixed;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    text-overflow: ellipsis;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.3px;
    padding: 20px;
    border-radius: 10px;
    z-index: 9999;
    width: 300px;
    text-align: center;
    gap: 14px;

    border: #949292 solid;
    border-radius: var(--Numbers-Eight-multiples-8, 8px);
    background: var(--Surfaces-Backgrounds-background-primary, #F5F5F5);
  }
  
  .custom-alert button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .custom-alert button:hover {
    background-color: darkred;
  }

  /* ---------------------------Modificacion de esxtilos propios de las tablas---------------------------- */

.btn-info-table {
    border-radius: 200px;
    border: 1px solid #686868;
    background: #FFF;
    height: fit-content;
    font-family: Poppins;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    color: #686868;
    width: fit-content;
    padding: 9.5px 10px;
}

.ag-theme-alpine .ag-header-cell{
    text-align: center;  /* Centrar el texto horizontalmente */
    font-weight: bold;   /* O cualquier otro estilo adicional */
    background-color: #00a1c9;  /* Color de fondo */
    color: white;  /* Color del texto */
    padding: 8px;  /* Espaciado interno */
    border-radius: var(--Numbers-Eight-multiples-8, 8px);;
    height: 100%;
}

.alinear-izquierda .ag-header-cell-label {
    text-align: left !important;
    justify-content: flex-start;
    margin-left: 20px;
}

.ag-theme-balham > :first-child {
    height: 95% !important;
}

.custom-legend {
    display: flex;
    justify-content: center; /* Centrar los elementos horizontalmente */
    align-items: center; /* Alinear los elementos verticalmente */
    flex-wrap: wrap; /* Asegura que los elementos se envuelvan si no caben en una sola línea */
}

/* Estilo de cada ítem de la leyenda */
.legend-item {
    display: flex;
    align-items: center;
    margin: 0 15px; /* Espacio horizontal entre los ítems */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #4e4e4e;
    border: 1px solid #ddd; /* Borde gris alrededor de cada ítem */
    padding: 5px 25px; /* Espaciado dentro del ítem (deja espacio entre el borde y el contenido) */
    border-radius: 5px; /* Esquinas redondeadas */
    transition: border-color 0.3s ease, background-color 0.3s ease; /* Transición suave para el borde y fondo */
}

/* Cuadro de color en la leyenda */
.legend-box {
    width: 12px;
    height: 12px;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
}

/* Texto de la leyenda */
.legend-text {
    display: inline-block;
    font-weight: 500;
    color: #4e4e4e;
}

/* Estilo cuando el ítem está oculto (clase oculta) */
.legend-item.hidden .legend-box {
    background-color: #ccc; /* Color gris para el ítem oculto */
    border-color: #ccc; /* El borde también se pone gris */
}

.legend-item.hidden .legend-text {
    color: #ccc; /* Texto gris para los ítems ocultos */
}

/* Estilo cuando el ítem es seleccionado (para mostrarlo u ocultarlo) */
.legend-item.selected {
    font-weight: bold;
    color: #2e3d49; /* Un color más oscuro al seleccionar */
}

.title-table .ag-header-cell-label {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.3px;
}

.ag-cell.custom-cell-class {
    display: flex  !important;
    justify-content: center !important;
    align-items: center !important;
    font-family: Roboto!important;
    font-size: 14px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: 18px!important; /* 128.571% */
    letter-spacing: -0.3px!important;
    color: var(--Color-Neutrals-N---06, #222);
    font-feature-settings: 'liga' off, 'clig' off;
    text-overflow: ellipsis;
}

.ag-tooltip {
    background-color: white !important; 
    color: #9C9B9B !important;           
    font-size: 14px !important;          
    padding: 8px 12px !important;       
    border-radius: 5px!important;     
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2)!important;
    max-width: 250px !important;        
    text-align: center !important;       
    word-wrap: break-word !important;    
    opacity: 1;                        
    transition: opacity 0.2s ease; 
    max-height: 35px;      
    font-size: 0.9rem !important;
    line-height: 1.2!important;
    font-weight:normal!important;
    font-family: "Roboto", sans-serif!important;
    position: relative; 
    transform: translateX(-50%);
    pointer-events: none;
    margin-top: 10px;
    z-index: 2000;
  }
  
  .ag-tooltip:hover {
    opacity: 1 !important;               
  }

  .ag-tooltip::after {
    content: '';
    position: absolute;
    top: -10px; 
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent;
    border-bottom: 10px solid white; 
}


.ag-row:hover::before {
    display: none !important; 
}


.ag-row-odd:hover::before {
    display: none !important; 
}

.ag-cell-focus {
    outline: none !important;  
    box-shadow: none !important; 
    background-color: inherit !important; 
    border: inherit !important; 
}

.ag-header-cell::before {
    width: 2px !important; 
    height: 8px !important; 
    border-radius: 4px!important;
    background: rgba(255, 255, 255, 0.50)!important;
    position:absolute !important;
    top: 40%!important;
}

.ag-center-cols-clipper .ag-row:last-child {
    border-radius: 0 0 10px 10px; /* Aplica border-radius solo al borde inferior */
}

@media screen and (max-height: 800px) {
    #tbody-torta tr {
      height: 70px !important; 
      font-size: small;
    }
    #tbody-torta td {
        height: 70px!important;
    }
}

@media screen and (max-height: 700px) {
    #tbody-torta tr {
        height: 60px !important; 
        font-size: small;
    }
    #tbody-torta td {
        height: 60px!important; 
    }
}

#tablaTorta.table {
    border-radius: 8px !important;    /* Bordes redondeados */
    border-collapse: separate !important; /* Asegura que el border-radius funcione */
}
  

table#tablaTorta.table {
    border-radius: 8px !important;    
    border-collapse: separate !important;     
}
.ag-theme-balham{
    border-radius: 8px !important;
}

.ag-row-last {
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
}

/* ------------------------------------------------------------------------------------------ */

.div-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
}