@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

a {
    text-decoration: none !important;
}

html{
    background-color: #F5F5F5;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.card{
    border-radius: 8px;
}

#div_principal{
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
}


.page_card-group{
    margin-top: 9.59rem;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
}

.page_card-group>.card-group{
    width: 100%;
}

.nav_bar{
    margin-top: 0.5rem;
    width: auto;
}

.nav_bar .card .card-body{
    padding-bottom:0.625rem;
    padding-top:0.625rem;
}

.nav{
    font-size: 1.125rem;
    border-collapse: separate;
    justify-content: center;
    text-align: center;
}

.nav-item{
    margin-right: 0.9375rem;
    margin-left: 0.9375rem;
    border: 0.5rem;
}

.nav-link{
    font-family:"Roboto", sans-serif;
    font-style: normal;
    color: #686868;
}

.nav-item:hover{
    color: var(--Surfaces-Buttons-Hover-standard-action, #00A1C9);
    font-feature-settings: 'clig' off, 'liga' off;
    border-radius: var(--Numbers-Eight-multiples-200, 200px);
    background: var(--Surfaces-Buttons-Icon-icon-selected, #DFF3F8);
}

.card-group>.card{
    flex: auto;
}

.card-body{
    width: 100%;
}

.card-body .card{
    display: flex;
    padding: 24px;
    gap: 24px;
    flex-wrap: wrap;
    margin: 24px;
}

.card-group>.card:first-child{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-right: 0.2rem;
}

.card-group>.card:not(:first-child){
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-left: 0.2rem;
}

header{
    margin-top: 0.9375rem;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    flex-flow: row;
    width: auto;
}

.header__div{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 0.9375rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    flex-flow: row;
    z-index: 10;
    width: auto;
    background-color: #F5F5F5;
}

.header-logo{
    display: flex;
    width: 342px;
    height: var(--Numbers-Eight-multiples-72, 72px);
    padding: 0px var(--Numbers-Eight-multiples-16, 16px);
    margin-left: 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 127px;

    border-radius: var(--Numbers-Eight-multiples-8, 8px);
    background: linear-gradient(90deg, #00A1C9 0%, rgba(0, 161, 201, 0.50) 100%);
}

.header-logo__img{
    display: flex;
    width: 100%;
}

.header-info{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    width: 70%;

    display: flex;
    height: var(--Numbers-Eight-multiples-72, 72px);
    padding: var(--Numbers-Eight-multiples-8, 8px) var(--Numbers-Eight-multiples-32, 32px);
    justify-content: center;
    align-items: left;
    gap: var(--Numbers-Eight-multiples-16, 16px);
    flex: 1 0 0;

    border-radius: var(--Numbers-Eight-multiples-8, 8px);
    background: var(--Surfaces-Backgrounds-background-default, #FFF);
}

.header-logo{
    margin-left: 7px;
    border-top-left-radius: 8px;
}

.header-info__title{
    font-size: 14px;
    font-weight: 700;
    color: #686868;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.3px;
}

.header-info__mudulo{
    color: #9C9B9B;
    margin: 0;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px; /* 183.333% */
    letter-spacing: 1.5px;
}

/* TABLAS */

table{
    border-collapse: unset;
    border-radius: 8px;
}

#grid-export table{
    border: 0;
    border-radius: 0;
}

#grid-export{
    font-family: "Roboto", sans-serif;
    font-size: 0.9375rem;
    text-align: center;
    width: 100%;
}

#grid-export .ag-icon {
    color: white;
}

#grid-export .ag-header-group-cell-label,#grid-export .ag-header-cell-label{
    justify-content : center;
}

#grid-export .ag-header-cell{
    color: white;
    background-color: #673ab7;
    text-align: center;
}

#grid-export .ag-cell{
    background-color: white;
    text-align: center;
}

.title-table_analitica{
    color: var(--Text-text-primary, #686868);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17.441px; /* 124.579% */
    letter-spacing: 1.453px;

    padding: var(--Numbers-Eight-multiples-16, 16px) 0px var(--Numbers-Eight-multiples-16, 16px) 0px;

    
}

.ag-cell {
    word-break: normal !important;
    white-space: normal !important;
}
/**/

.form-select:focus {
    border-color: var(--bs-border-width) solid var(--bs-border-color) !important;
    outline: 0 !important;
    box-shadow: 0 0 0 .25rem var(--bs-border-width) solid var(--bs-border-color) !important;
}

  /* ---------------------------Modificacion de esxtilos propios de las tablas---------------------------- */

.btn-info-table {
    border-radius: 200px;
    border: 1px solid #686868;
    background: #FFF;
    height: fit-content;
    font-family: Poppins;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    color: #686868;
    width: fit-content;
    padding: 9.5px 10px;
}

.ag-theme-alpine .ag-header-cell{
    text-align: center;  /* Centrar el texto horizontalmente */
    font-weight: bold;   /* O cualquier otro estilo adicional */
    background-color: #00a1c9;  /* Color de fondo */
    color: white;  /* Color del texto */
    padding: 8px;  /* Espaciado interno */
    border-radius: var(--Numbers-Eight-multiples-8, 8px);;
    height: 100%;
}

.alinear-izquierda .ag-header-cell-label {
    text-align: left !important;
    justify-content: flex-start;
    margin-left: 20px;
}

.ag-theme-balham > :first-child {
    height: 95% !important;
}

.custom-legend {
    display: flex;
    justify-content: center; /* Centrar los elementos horizontalmente */
    align-items: center; /* Alinear los elementos verticalmente */
    flex-wrap: wrap; /* Asegura que los elementos se envuelvan si no caben en una sola línea */
}

/* Estilo de cada ítem de la leyenda */
.legend-item {
    display: flex;
    align-items: center;
    margin: 0 15px; /* Espacio horizontal entre los ítems */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #4e4e4e;
    border: 1px solid #ddd; /* Borde gris alrededor de cada ítem */
    padding: 5px 25px; /* Espaciado dentro del ítem (deja espacio entre el borde y el contenido) */
    border-radius: 5px; /* Esquinas redondeadas */
    transition: border-color 0.3s ease, background-color 0.3s ease; /* Transición suave para el borde y fondo */
}

/* Cuadro de color en la leyenda */
.legend-box {
    width: 12px;
    height: 12px;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
}

/* Texto de la leyenda */
.legend-text {
    display: inline-block;
    font-weight: 500;
    color: #4e4e4e;
}

/* Estilo cuando el ítem está oculto (clase oculta) */
.legend-item.hidden .legend-box {
    background-color: #ccc; /* Color gris para el ítem oculto */
    border-color: #ccc; /* El borde también se pone gris */
}

.legend-item.hidden .legend-text {
    color: #ccc; /* Texto gris para los ítems ocultos */
}

/* Estilo cuando el ítem es seleccionado (para mostrarlo u ocultarlo) */
.legend-item.selected {
    font-weight: bold;
    color: #2e3d49; /* Un color más oscuro al seleccionar */
}

.title-table .ag-header-cell-label {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.3px;
}

.ag-cell.custom-cell-class {
    display: flex  !important;
    justify-content: center !important;
    align-items: center !important;
    font-family: Roboto!important;
    font-size: 14px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: 18px!important; /* 128.571% */
    letter-spacing: -0.3px!important;
    color: var(--Color-Neutrals-N---06, #222);
    font-feature-settings: 'liga' off, 'clig' off;
    text-overflow: ellipsis;
}

.ag-tooltip {
    background-color: white !important; 
    color: #9C9B9B !important;           
    font-size: 14px !important;          
    padding: 8px 12px !important;       
    border-radius: 5px!important;     
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2)!important;
    max-width: 250px !important;        
    text-align: center !important;       
    word-wrap: break-word !important;    
    opacity: 1;                        
    transition: opacity 0.2s ease; 
    max-height: 35px;      
    font-size: 0.9rem !important;
    line-height: 1.2!important;
    font-weight:normal!important;
    font-family: "Roboto", sans-serif!important;
    position: relative; 
    transform: translateX(-50%);
    pointer-events: none;
    margin-top: 10px;
    z-index: 2000;
  }
  
  .ag-tooltip:hover {
    opacity: 1 !important;               
  }

  .ag-tooltip::after {
    content: '';
    position: absolute;
    top: -10px; 
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent;
    border-bottom: 10px solid white; 
}


.ag-row:hover::before {
    display: none !important; 
}


.ag-row-odd:hover::before {
    display: none !important; 
}

.ag-cell-focus {
    outline: none !important;  
    box-shadow: none !important; 
    background-color: inherit !important; 
    border: inherit !important; 
}

.ag-header-cell::before {
    width: 2px !important; 
    height: 8px !important; 
    border-radius: 4px!important;
    background: rgba(255, 255, 255, 0.50)!important;
    position:absolute !important;
    top: 40%!important;
}

.ag-center-cols-clipper .ag-row:last-child {
    border-radius: 0 0 10px 10px; /* Aplica border-radius solo al borde inferior */
}

@media screen and (max-height: 800px) {
    #tbody-torta tr {
      height: 70px !important; 
      font-size: small;
    }
    #tbody-torta td {
        height: 70px!important;
    }
}

@media screen and (max-height: 700px) {
    #tbody-torta tr {
        height: 60px !important; 
        font-size: small;
    }
    #tbody-torta td {
        height: 60px!important; 
    }
}

#tablaTorta.table {
    border-radius: 8px !important;    /* Bordes redondeados */
    border-collapse: separate !important; /* Asegura que el border-radius funcione */
}
  

table#tablaTorta.table {
    border-radius: 8px !important;    
    border-collapse: separate !important;     
}
.ag-theme-balham{
    border-radius: 8px !important;
}

.ag-row-last {
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
}

/* ------------------------------------------------------------------------------------------ */

.div-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
}

/* ROLE TAGS */

.point-tag {
    width: 0.395rem;
    height: 0.395rem;
    margin: 0.125rem;
}

.rounded-full {
    border-radius: 9999px;
}

.role-tag {
    display: inline-flex;
    /* height: 23.452px;
    padding: 0px 8.794px; */
    /* height: 30.452px;
    padding: 0px 10.794px; */
    height: 32px;
    padding: 0px 12px;
    justify-content: center;
    align-items: center;
    gap: 5.863px;
    flex-shrink: 0;
  
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Poppins;
    /* font-size: 8.794px; */
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 17.589px; /* 200% */
  }

  .role-tag__green {
    border-radius: var(--Numbers-Eight-multiples-4, 4px);
    background: var(--Color-Hues-H---04, #EDF8E2);
    color: var(--Color-Secondaries-S---02, #73C914);
  }

  .role-tag__green span{
    background-color: var(--Color-Secondaries-S---02, #73C914);;
  }

  .role-tag__gray {
    border-radius: var(--Numbers-Eight-multiples-4, 4px);
    background: var(--Color-Hues-H---04, #ECECEC);
    color: var(--Color-Secondaries-S---02, #686868);
  }
  
  .role-tag__gray span{
    background-color: var(--Color-Secondaries-S---02, #686868);;
  }